# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Banco de dados local
db.sqlite3

# Configurações do VS Code
.vscode/

# Arquivos de ambiente/segredos
.env

# Arquivos estáticos coletados
staticfiles/