{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Calculadora Básica{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'calculadora/estilo.css' %}">
    {% block css_extra %}{% endblock %}
</head>
<body>

    <header class="site-header">
        <h1>CALCULADORA BÁSICA</h1>
        <nav class="footer-navs">
            {% block nav_links %}{% endblock %}
        </nav>
        <button id="btn-tema" aria-label="Alternar tema">🌙</button>
    </header>

    <main class="main-container">
        {% block conteudo %}{% endblock %}
    </main>

        <footer class="site-footer">
        <p>&copy; 2026 - Conteúdo Educacional</p>
        <div class="footer-navs">
            <nav>
                <a href="{% url 'calculadora:index' %}" class="site-nav">Página Principal</a>
                <a href="{% url 'calculadora:sobre' %}" class="site-nav">Sobre Nós</a>
                <a href="{% url 'calculadora:contato' %}" class="site-nav">Nosso Contato</a>
                <a href="{% url 'calculadora:historico' %}" class="site-nav">Histórico</a>
            </nav>
        </div>
    </footer>

    <script src="{% static 'calculadora/comandos.js' %}"></script>
    {% block js_extra %}{% endblock %}
</body>
</html>